openpyxl == 2.2.5
xlwt == 1.0.0
xlrd
urllib3 == 1.26.5
plotly == 1.9.9
-e git://github.com/wangz10/geode.git#egg=geode
requests == 2.14.2
scipy == 0.15.1
numpy == 1.12.1
pandas == 0.20.1
rpy2 == 2.5.6
